<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main | Annoymous Runners</title>
  <link rel="stylesheet" href="/css/main.css">
  <%- include("./elements/head.ejs");%>
</head>
<body>
  <header id = "pc">
    <div class="inner">
      <ul>
        <li>
          <!-- <div class="logo">
            <img src="" alt="">
          </div> -->
          <a href="/">Annoymous Runners</a>
        </li>
        <li>
          <div class="text">
            <a href="/">MENU</a>
            <i class="fa-solid fa-bars"></i>
          </div>
        </li>
        <li>
          <a href="/">ABOUT US</a>
        </li>
        <li>
          <a href="/">Sign In</a>
        </li>
        <li>
          <div class="col-3 input-effect">
            <input class="effect-21" type="text" placeholder="">
              <label>First Nam</label>
              <span class="focus-border">
                <i></i>
              </span>
          </div>
        </li>
      </ul>
    </div>
  </header>
  <div class="main"></div>
</body>
</html>